<table class="table table-striped table-hover table-bordered">
<thead class='thead-default'>
  <tr>
    <th>
      Name
    </th>
    <th>
      Email
    </th>
    <th>
      Total Orders Placed
    </th>
  </tr>
</thead>
  <% customers.each do |customer| %>
  <tr>
    <td>
      <%= customer.name %>
    </td>
    <td>
      <%= customer.email %>
    </td>
    <td>
      <%= customer.placed_orders_count %>
    </td>
  </tr>
  <% end %>
</table>
