<h1>Place a New Order</h1>
<h3>Note that all orders are final and you cannot edit or cancel.</h3>
 <!-- if you must edit or cancel please contact your chef LINKTO mailer -->
<%= render partial: 'order_form', locals: {order: @order, oi: @oi} %>
