<div class="row" id="flash-box">
  <% flash.each do |type, msg| %>
  <div class="alert alert-block alert-<%= type %>">
  <% msg.each do |m| %>
  <p><%= m %></p>
  <% end %>
  </div>
  <% end %>
</div>
