<tr>
  <td><%= order.menu.chef.email %></td>
  <td><%= stringify_date(order.menu.completion_date) %></td>
  <td><%= format_currency(order.total) %></td>
  <td><%= link_to "Review", order %></td>
</tr>
