<h1>Your Order History</h1>

<table class='table table-striped table-bordered'>
  <th>
    <td>Chef</td>
    <td>Completion Date</td>
    <td>Total</td>
    <td>View Order</td>
  </th>
  <%= render partial: 'orders/user_order', collection: @orders, as: :order %>
</table>
