<h1>Your Order History</h1>

<table class='table table-striped table-bordered'>
  <thead>
    <th>Chef</th>
    <th>Completion Date</th>
    <th>Total</th>
    <th>View Order</th>
  </thead>
  <tbody>
    <%= render partial: 'orders/user_order', collection: @orders, as: :order %>
  </tbody>
</table>
