<% content_for :title, "Order Details" %>
<% present @order do |order_presenter| %>

<!-- <p>
  <strong>Your order will be ready on: </strong>
  <%#= order_presenter.completion_date %>
</p> -->

<%= order_presenter.table_lead_in %>

<table class='table table-striped table-bordered'>
  <%= order_presenter.order_table_header %>
  <tbody>
    <%= order_presenter.order_table_items %>
      <tr>
        <td></td>
        <td><strong>Total price:</strong></td>
        <td>
          <%= format_currency(@order.total) %>
        </td>
      </tr>
  </tbody>
</table>
<% end %><!-- order presenter -->
