<tr>
  <td><%= order_item.item_name %></td>
  <td><%= format_currency(order_item.unit_price) %></td>
  <td><%= order_item.quantity %></td>
  <td><%= format_currency(order_item.sale_price_cents) %></td>
</tr>