@import 'bootstrap-sprockets';
@import 'bootstrap';

table {
  text-align: center;
  th {
    text-align: center
  }
}

.link {
  margin-right: 20px;
}

.navbar-right {
  li > a {
    display: inline-block;
  }
}

.nav .nav-divider {
  border-bottom: 1px solid #ddd;
  width: 100%;
  display: block;
  height: 1px;
  margin: 0;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

a.full-size {
  display: block;
  width: 100%;
  height:100%;
}

.progress {
  .bar {
    padding-left: 0.2em;
    color:   white;
    display: none;
  }
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.image-upload-section{
  margin-top: -50px;
  margin-bottom: 50px;
}

.bordered{
  border: 2px solid #333;
  border-radius: 6px;
  padding: 15px;
}

.spaced {
  margin-top: 20px;
  margin-bottom: 20px
}

img {
  max-width: 100%;
}

.form-links {
  a {
    display: inline-block;
    margin-top: 10px;
  }
}

footer {
  padding: 100px;
}
