@import 'bootstrap-sprockets';
@import 'bootstrap';

.link {
  margin-right: 20px;
}
.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

a.full-size {
  display: block;
  width: 100%;
  height:100%;
}
