// Place all the styles related to the menu_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-item-partial {

  .panel-title {
    margin-bottom: 5px;
  }

  .category-label {
    font-size: 12px;
    margin-right: 5px;
  }

}


.ingredients-list {
  font-style: italic;
  }

.menu_item_link {
    text-decoration: underline;
  }
