// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green-text: #27B013;

.order-table {
  .delivered-text {
    font-style: italic;
    color: $green-text;
    margin-bottom: 0;
  }
}