<% content_for :title, "Category List" %>

<div class="word-map">
  <% @categories.shuffle.each do |category| %>
    <span style="font-size: <%= (category.menu_items.size*6) + 16 %>px; margin:10px"><%= link_to category.name, category %></span>
  <% end %>
</div>
