<h1><%= @category.name %> Menu Items</h1>

<% if @menu_items.size > 0 %>
  <%= render partial: 'menu_items/menu_item', collection: @menu_items, as: :menu_item %>
<% else %>
  <h3>No Menu Items</h3>
<% end %>
