<div class="row">
  <h2 class='text-center'>this is the landing page</h2>
  
  <div class="col-md-6">
    <div class="chef_signup"> 
    <%= link_to 'sign up as chef', new_user_registration_path(role: 'chef') %>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="customer_signup"> 
      <%= link_to 'sign up customer', new_user_registration_path(role: 'customer') %>
    </div>
  </div>
</div>